.header{
    background-color: black;
}
.img-1{
    height:50px;
    padding-left: 3rem;
}
.dropdown{
    padding-left: 60rem;
}
.img-2{
    height:350px;
     padding-left: 3rem;
}
h2{
    font-weight: bolder;
}
.line {
  border-top: 1px solid red;
  height: 2px;
  padding: 0;
  margin: 45px auto 0 auto;
}
span{
    color: red;
    margin:auto;
}
